<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title StoryGen 0.1.1
    meta(name="description" content="")
    link(rel='stylesheet', href='./style.css' type='text/css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', type='text/css' )
  body
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    a(class="navbar-brand text-light") StoryGen
  main(class="container" role="main")
    div(class="jumbotron mt-5 bg-secondary text-light")
        h1.text-center Welcome To My Story Generator!
    div.row
      div.col-md-1
      div(class="col-md-5 rounded mt-2 darken" id="myBookCover" style="background-image: url(" + bookCover + ")")
        h1(class="text-light module text-center title") #{title}
        h1(class="text-light module text-center author") #{author}
      div(class="col-md-5 rounded bg-info mt-2 ml-2 mr-2 text-light")
        h2(class="text-center mt-3") #{title}
        h3(class="text-center mt-3") By #{author}
        p !{lineOne}
    div(class="row mt-3")
      div.col-md-3
      div(class="col-md-6 text-center")
        a(class="btn btn-warning", href="https://gem-cook.glitch.me/") Refresh